@font-face {
    font-family: 'ChineseRocks';
    src: url('../fonts/ChineseRocks.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BuiltTitlingSB';
    src: url('../fonts/builttitlingsb.ttf');
	font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlabM';
    src: url('../fonts/RobotoSlab-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

/*
Colour scheme
	Black #000000
	Grey #ffffff
	Red #ff0000
	Dark Red #990000
	Yellow #ffd000
	
	#2ebaae is that turquoise they use
*/
body {
  background-color: #ffffff;
  background-image: url('../../images/GrittyBackground.jpg')
}

/*-----------------------Navigation Bar Styles -----------------------------*/

#header {
		background-color: #000000;
}

.links li{
	color: #ff0000;
}

.links:hover li{
	color: #ff0000;
}
.links:focus li{
	color: purple;
}



.links > li  {
	color: purple;
		}

.mini-post {

		background: #000000;
}
		
.post {
		background: #000000;
}

h2, h3, h4, h5, h6 {
		color:  #ff0000;
		font-family: 'ChineseRocks';
}

h1 {
  font-family: 'ChineseRocks';
  color: white;
}

.post h2 {
  color: #ff0000;
}
.post p {
  color: white;
}

p{
	color: #000000;
	font-family: 'RobotoSlabM';
}

#header .links {
	color: white;
	font-family: 'BuiltTitlingSB';
}

.FeaturedVideoDiv{
	position: relative;
	height: 0;
	padding-bottom: 56.25%
}

.FeaturedVideoDiv iframe{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	Height: 100%;
}

.button{
	font-family: 'BuiltTitlingSB';
	color: red;
	
}

a:hover {
			color: #ffd000;

}

.mainLogoDiv{
	position: relative;
	height: 0;
	padding-bottom: 56.25%
}


.mainLogoDiv img
{
	/* border: thick double #32a1ce; */
	
}


	/*-----------------Red Dead Online Article Pages ---------------------------------*/
	
.articleList li{
		Color: white;
			
	}
	
	.articleList li b{
		Color: white;
			
	}